.elevation-x-small {
  box-shadow: var(--sem-elevation-x-small);
}
.elevation-small {
  box-shadow: var(--sem-elevation-small);
}
.elevation-medium {
  box-shadow: var(--sem-elevation-medium);
}
.elevation-large {
  box-shadow: var(--sem-elevation-large);
}
.elevation-x-large {
  box-shadow: var(--sem-elevation-x-large);
}
.elevation-xx-large {
  box-shadow: var(--sem-elevation-xx-large);
}
