@use '@/app/scss/unit-convertor';

@mixin focus-visible {
  outline: 2px solid var(--sem-color-outline-standard);
  outline-offset: 4px;
  border-radius: unit-convertor.px-to-rem(4);

  @media (prefers-reduced-motion: no-preference) {
    transition: outline 0.1s ease;
  }
}

@mixin focus-visible-tight {
  &:focus-visible {
    @include focus-visible;

    & {
      outline-offset: 2px;
    }
  }
}
@mixin focus-visible-standard {
  &:focus-visible {
    @include focus-visible;

    & {
      outline-offset: 4px;
    }
  }
}
