.h1 {
  font-family: var(--base-font-family-primary);
  font-weight: var(--base-font-weight-bold);
  font-size: var(--base-font-size-900);
  line-height: var(--base-font-line-height-300);
  letter-spacing: var(--base-font-letter-spacing-075);
}

.h2 {
  font-family: var(--base-font-family-primary);
  font-weight: var(--base-font-weight-bold);
  font-size: var(--base-font-size-800);
  line-height: var(--base-font-line-height-300);
  letter-spacing: var(--base-font-letter-spacing-075);
}

.h3 {
  font-family: var(--base-font-family-primary);
  font-weight: var(--base-font-weight-bold);
  font-size: var(--base-font-size-700);
  line-height: var(--base-font-line-height-300);
  letter-spacing: var(--base-font-letter-spacing-075);
}

.h4 {
  font-family: var(--base-font-family-primary);
  font-weight: var(--base-font-weight-bold);
  font-size: var(--base-font-size-600);
  line-height: var(--base-font-line-height-400);
  letter-spacing: var(--base-font-letter-spacing-100);
}
