@mixin font-skin-body-standard {
  font-family: var(--base-font-family-primary);
  font-weight: var(--base-font-weight-medium);
  font-size: var(--base-font-size-300);
  line-height: var(--base-font-line-height-500);
  letter-spacing: var(--base-font-letter-spacing-100);
}

@mixin font-skin-body-small {
  font-family: var(--base-font-family-primary);
  font-weight: var(--base-font-weight-regular);
  font-size: var(--base-font-size-200);
  line-height: var(--base-font-line-height-500);
  letter-spacing: var(--base-font-letter-spacing-100);
}

@mixin font-skin-body-subtle-small {
  font-family: var(--base-font-family-primary);
  font-weight: var(--base-font-weight-regular);
  font-size: var(--base-font-size-200);
  line-height: var(--base-font-line-height-500);
  letter-spacing: var(--base-font-letter-spacing-1000);
}

@mixin font-skin-title-display {
  font-family: var(--base-font-family-primary);
  font-weight: var(--base-font-weight-bold);
  font-size: var(--base-font-size-1200);
  line-height: var(--base-font-line-height-200);
  letter-spacing: var(--base-font-letter-spacing-400);
}

@mixin font-skin-editorial-headline {
  font-family: var(--base-font-family-primary);
  font-weight: var(--base-font-weight-bold);
  font-size: var(--base-font-size-1200);
  line-height: var(--base-font-line-height-200);
  letter-spacing: var(--base-font-letter-spacing-400);
}
